.table th {
    padding: .5rem !important;
}
.tables td {
    padding: .5rem !important;

}
.ke-toolbar-item a {

    font-weight: bold;
    color: white !important ;
    text-decoration: none !important;

}
.input-color {
    border-top: 1px !important;
    background-color: #dee2e6 !important;
}

.ke-menu-item {
    display: block;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #CCC;
    padding: 1px !important;
    min-height: 32px;

}

fieldset.scheduler-border {
    border: 3px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.column {
    float: left;
    width: 50%;
}

.set-table-td-description-size {
    width: 20%;
}

.set-table-td-input-size {
    width: 10%;

}
.set-third-column-size {
    width: 20%;
}